[2017-11-29 09:34] slromero-indra commented on #64
Hemos actualizado la plantilla para que únicamente se muestre una columna.

[2017-11-29 09:57] sgelabert-dgtic commented on #64
He fet el commit únicament sobre la 1.5, mentre que aquest tiquet és de la 1.4.
Ho podeu consolidar, per favor ?

[2017-11-29 10:49] slromero-indra commented on #64
Hemos incorporado los cabios en la rama 1.4

[2017-12-10 22:58] slromero-indra commented on #96
Respecto a la compartimentación del proceso total de indexación hemos modificado la implementación para que a nivel de la pantalla de indexación solo se vea un único job y log. Ahora en la pantalla de indexación además se ve el progreso (num de microsites indexados). Como es tanto volumen de información el que se tiene que indexar, lo que hemos hecho es compartimentar el proceso de forma que la in

[2017-12-11 09:14] sgelabert-dgtic commented on #96
He enviat a PREproducció la darrera versió commitada. Us dic coses quan hagi acabat la indexació total.
Caldria fer una reorganització les les propietats de GUSITE que afecten a SOLR, tant pel que fa a utilitat com a nomenclatura:
- Totes les propietats d'aquesta àrea haurien de ser: es.caib.gusite.solr.
- Totes han de tenir un breu comentari explicatiu de la utilitat.

Corregiume si m'equivoc per

[2017-12-12 09:37] slromero-indra commented on #96
Buenas, respecto a las propiedades, las reviso y te comento las propiedades que se han tenido que cambiar para adecuarse a 'es.caib.gusite.solr'.

Respecto al documento, un documento como el realizado para SIA no existe pero si se desea podemos mirar de hacerlo aunque sería más correcto en una issue a parte para no mezclar temas.

Cuando termine la indexación total en PRE nos avisas.

[2017-12-12 17:54] slromero-indra commented on #102
## Visualización en el frontal
Frontal nuevo sin tema: http://caibter.indra.es/sites/indra2017/ca/introduccion/
Fronta nuevo con tema: http://caibter.indra.es/sites/indra/ca/pag_bb/

## Inclusión botón en tinymce
Respecto a tinymce, se ha incluido un nuevo elemento en el toolbar:

![image](https://user-images.githubusercontent.com/17451407/33900008-771373d0-df6d-11e7-97a7-d3c4c89d4570.png)

Tras p

[2017-12-13 07:54] sgelabert-dgtic commented on #96
La indexació completa pareix que ha acabat indexant la totalitat dels microsites:
![image](https://user-images.githubusercontent.com/17268396/33927560-187a57b4-dfe3-11e7-8ace-e605046086f4.png)
El que no veig per enlloc és com treure el log d'indexació

[2017-12-13 07:59] slromero-indra commented on #96
Buenas, se debe pulsar 'veure informació de les tasques' y posteriormente seleccionar el log. El botón de 'ver info dels microsites indexats' es para ver la información de manera rápida y resumida para ver el estado de la indexación.

Si te parece correcto, además de la revisión de las propiedades de solr, vamos a proceder a realizar un documento sobre el proceso de indexación que se hablará de:

[2017-12-13 08:30] sgelabert-dgtic commented on #96
El que em comentes ja ho havia provat però pareix que no hi ha el log d'indexació complet (si t'hi fixes només hi ha el log d'ahir a les 2.00h). T'adjunt captura de pantalla i log d'ahir [archivo_12122017.txt](https://github.com/GovernIB/gusite/files/1554696/archivo_12122017.txt)
![image](https://user-images.githubusercontent.com/17268396/33928863-b28e5d56-dfe7-11e7-8818-bf399a00a2d0.png)
Respecte

[2017-12-13 09:03] slromero-indra commented on #96
Si te parece más correcto, incluirá una breve explicación sobre el solr-api-web y, en un documento extra, incluirá una explicación más profunda sobre solr-api-web e irá en ese proyecto.

Sobre el log, debido a la ejecución errónea de la indexación anterior que generaba muchas tareas (cada 5 microsites) provoca problemas de ahí que no se vea bien el log (principalmente, coge una tarea no finalizada

[2017-12-15 07:56] sgelabert-dgtic commented on #96
La indexació completa ha acabat i després de fer el delete de la taula GUS_SOLJOB sobre PREproducció, s'ha generat correctament el log de la indexació.
Els resultats son els següents:
`Dels 2 microsites en total, eren indexables 752 dels quals 727 han estat correctes i 25 estat incorrectes. `
A banda de modificar el missatge "Dels 2 microsites en total," pareix que els errors es deuen fonamentalme

[2017-12-18 17:30] slromero-indra commented on #96
Hemos mejorado los mensajes de indexación, además de actualizar el mensaje del txt erróneo, hemos mejorado el formulario de indexación y ahora el botón de 'Ver info dels microsites indexats' devuelve más información para depurar.

También hemos actualizado un bug de la fecha de caducidad en lla indexación de noticias mientras se realizaba pruebas en el entorno de proves.caib. Se debería volver ind

[2017-12-20 07:00] sgelabert-dgtic commented on #96
La indexació completa amb la incorporació dels darrers canvis no ha acabat per caiguda del servidor.
Us remet per correu, log del servidor d'aplicacions.

[2018-01-08 13:19] sgelabert-dgtic commented on #96
La indexació completa segueix sense acabar sobre l'entorn de PREproducció. Pendents de monitoritzar l'ús de memòria i rediment del servidor, cal efectuar les següents correccions:
- Bug en el tancament de tasques. Pareix que el botó "Tancar tasques" no marca la indexació com a finalitzada. Això fa que no poguem engegar noves proves d'indexació.
- Revisar els accessos a l'API de ROLSAC per recupera

[2018-01-09 12:47] slromero-indra commented on #96
Hemos realizado los siguientes cambios:

- Mejoras en el PathUO a nivel de microsite, pasando el pathUO obtenido hacia sus distintos elementos (agenda, contenido, formularios...).
- Mejoras en la comprobación de la visibilidad del pathUO, en caso de no existir en Rolsac o de si alguna UA es no visible, no se indexará el microsite.
- Mejora en el cierre de tareas.

Respecto al cierre de tareas y la

[2018-01-10 16:17] slromero-indra commented on #102
Visualización del resultado final.

Frontal por defecto:
http://caibter.indra.es/sites/indra/ca/demo_listado_y_botones_mic/

Tema 2017
http://caibter.indra.es/sites/indra2018/ca/demo_listado_y_botones_mic/

[2018-01-10 16:25] slromero-indra commented on #103
Visualización del resultado final.

Frontal por defecto:
http://caibter.indra.es/sites/indra/ca/demo_listado_y_botones_mic/

Tema 2017
http://caibter.indra.es/sites/indra2018/ca/demo_listado_y_botones_mic/

[2018-01-10 16:26] slromero-indra commented on #101
Visualización del resultado final.

Frontal por defecto:
http://caibter.indra.es/sites/indra/ca/demo_listado_y_botones_mic/

Tema 2017
http://caibter.indra.es/sites/indra2018/ca/demo_listado_y_botones_mic/

[2018-01-15 16:17] slromero-indra commented on #96
Incoporado los cambios en las propiedades además de las mejoras comentadas por email:

 -  es.caib.gusite.user.solr --> es.caib.gusite.solr.user
 -  es.caib.gusite.pass.solr --> es.caib.gusite.solr.pass
 -  es.caib.gusite.url.solr    -->  es.caib.gusite.solr.url
 -  es.caib.gusite.index.solr --> es.caib.gusite.solr.index
 -  es.caib.gusite.maxjob.solr --> es.caib.gusite.solr.maxjob
 -  es.caib.gus

[2018-01-16 17:32] slromero-indra commented on #103
Hemos mejorado el código por un problema que habíamos detectado por solapamiento.

[2018-01-24 11:14] slromero-indra commented on #96
Ya están comiteado los cambios comentados por email, se debería de volver a indexar de nuevo.

[2018-01-25 13:15] bgarcia-dgtic opened #104 "Mal funcionament amb les etiquetes <iframe>"
Hem detectat un mal funcionament amb les etiquetes <iframe>.
Al Microsite "Retribucions legistlatura 2015-2019" (id_microsite=6965), té uns pdf's incrustats mitjançants <iframe> i quan accadeixes a la web es veuen correctament, es a dir, es visualitzen els pdf's.
Aquest Microsite utilitza la versió "Microsites públic, segona versió". Quan actualitz a la darrera versió (Microsite versió 2015) i acc

[2018-01-29 17:24] dmadronal-indra commented on #104
Buenas se ha actualizado la aplicación para solventar esta problemática.

[2018-01-30 08:56] sgelabert-dgtic commented on #96
Hem redesplegat la versió (d6390a5) i ens dóna els mateix error quan picam "Veure Informació de les Tasques" en la indexació d'un únic microsite.

[code]

[2018-01-31 11:57] slromero-indra commented on #96
Buenas, para esa versión ese método ya no existía por lo que dicho error no debería de haberse producido, seguramente producido por algún problema al generar el ear.

Igualmente, hemos vuelto a realizar un nuevo commit, limpiando alguna clase que ya no es necesaria porque ya no se utiliza la clase java.sql.Clob. Por favor, volver a desplegar la versión, realizando antes un clean del proyecto.

[2018-02-07 06:58] #104 closed, assigned to sgelabert-dgtic, dmadronal-indra, slromero-indra, rsanz-indra

[2018-02-07 06:58] #64 closed, assigned to sgelabert-dgtic, dmadronal-indra, slromero-indra, rsanz-indra

[2018-02-09 09:58] slromero-indra commented on #96
Tras subirse a producción, se han revisado los logs, tanto del resumen de la indexación como de los logs de jboss, y no se ha encontrado ningún error fuera de lo normal más allá de problemas controlados de TIKA (problemas de SOLR con ficheros de tipo Word/Excel) o de ficheros que no existen.

[2018-02-12 07:37] #96 closed, assigned to sgelabert-dgtic

[2018-02-16 07:39] sgelabert-dgtic commented on #102
Al desar la pàgina que té incoporada el botó no s'actualitzen els canvis en el camp URL o icona, és a dir, una vegada inserit el valor inicial no emmagatzema canvis sobre aquests dos camps

[2018-02-16 08:42] bgarcia-dgtic commented on #101
El menú horitzontal funciona correctament, però si a la configuració/general/aparença es marca que no es vol cercador, canvia la visualització del menú. Adjunt captures de pantalla
![captura1](https://user-images.githubusercontent.com/26536678/36299145-fab7920e-12fb-11e8-9b48-6227c1e74cb2.jpg)
![captura2](https://user-images.githubusercontent.com/26536678/36299154-0556b17c-12fc-11e8-883a-8db61521b

[2018-02-16 12:31] bgarcia-dgtic commented on #27
Hola, referent al document "0079_DGDT_COMPONENTE_FORMULARIO_CONTACTO.pdf", he creat un formulari de contacte, però a l'hora d'inserir-lo com ha component, no hem permet fer-ho ja que no m'apareix al llistat de components. Adjunt captures de pantalla
![captura1](https://user-images.githubusercontent.com/26536678/36307689-8b64d3e0-131d-11e8-9bee-d7eb267f8101.jpg)
![captura2](https://user-images.gith

[2018-02-16 12:58] dmadronal-indra commented on #27
Buenas,
Ese desarrollo no se llego a realizar, la tarea se paso a unplanned. adjunto enlace a la tarea [#79](https://github.com/GovernIB/gusite/issues/79).

[2018-02-19 08:59] bgarcia-dgtic opened #105 "Varis bugs amb el tema 2017"
Microsite: iea.caib.es

1 Llistats de fitxes:

	- Quan cerques un element del llistat i accedeixes a ell, a la part de dalt surt el texte "Volver al listado de noticias" (adjunt captura de pantalla captura1.jpg) tant en Català com en Castellà.
	url: http://www.caib.es/sites/institutestudisautonomics/ca/n/decret_252013_de_24_de_maig_de_modificacio_del_decret_542002_de_12_dabril_pel_qual_es_regulen_

[2018-02-21 13:44] bgarcia-dgtic commented on #101
El menú funciona correctament, però hauria de sortir a l'apartat Configuració/General/Aparença. En aquests moments apareix a l'apartat Configuració/General just davall de l'opció "Selecciona la versió", i els usuaris no la veuen ja que només veuen fins a la opció "Idioma".

[2018-02-22 09:28] bgarcia-dgtic commented on #101
Hem detectat un mal funcionamet al backoffice.
Quan un usuari amb rol GUS_SUPER fa qualsevol canvi a l'apartat "Configuració/General/Aparença/Tipus de menú", i l'orientació del menú és horitzontal, automàticament aquest passa a ser clàssic. Adjunt captures de pantalla.
Captura1.jpg -> L'orientació del menú és horitzontal.
![captura1](https://user-images.githubusercontent.com/26536678/36530309-06a0

[2018-02-22 10:44] bgarcia-dgtic commented on #101
Pareix que el canvi de menú horitzontal a clàssic afecta a qualsevol canvi que es faci a la Configuració ja sigui a l'apartat General, Campanya, Serveis Oferits o Aparença. Només passa amb rol GUS_SUPER.

[2018-02-26 15:37] dmadronal-indra commented on #101
Buenas, hemos actualizado la aplicación, ¿Lo podeis validar?

[2018-03-02 12:21] bgarcia-dgtic commented on #101
Hem detectat que quan es selecciona el "Tipus de Menú -> Sense Menú" i l'orientació del menú és horitzontal, el menú es mostra igualment cara al públic i no s'hauria de mostrar, com és el cas del menú clàssic (si es selecciona el "Tipus de Menú -> Sense Menú" i l'orientació del menú és clàssic, el menú no es mostra cara al públic)

[2018-03-06 12:12] dmadronal-indra commented on #101
Buenas,
Hemos revisado este problema en el commit 5c68c4ffb8693b13f0a657bebf17ba8a3f69dd4e

[2018-03-06 12:34] dmadronal-indra commented on #105
Hemos revisado los puntos 1.1, 1.2,1.4,2,4,5,6.2.

Referente al punto 1.3 y 6.1 (tema de los iconos), la imagen que se muestra corresponde con el mime type almacenado en la aplicación. hemos estado revisando y haciendo pruebas y al subir el documento se almacena el mime type correspondiente, y no logramos reproducir que se almacene con el formato application-x-download, que es el correspondiente a

[2018-03-08 12:28] bgarcia-dgtic commented on #101
Hola,
Hem detectat que quan es desplega una opció del menú horitzontal, hi ha un solapament amb el contingut de la pàgina. Pareix que passa quan el contingut de la pàgina és un llistat, formulari, FAQS o mapa. Adjunt captures de pantalla i la url del Microsite amb el que estic fent proves.
URL: https://appproves.caib.es/sacmicroback/index.do?idsite=5985#

Captura1.jpg: el contingut de la pàgina és

[2018-03-12 07:30] slromero-indra commented on #105
Respecto al problema que un documento pdf, en algunos caso se vea el icono y en otros no, depende del campo 'dcm_tipo' de la tabla 'gus_docus. Ese campo indica el tipo 'mimetype' del fichero y, a partir de dicho valor, cambia el icono a uno predefinido (icono pdf, word, etc..) o genérico (el fichero en blanco). Podéis realizar la siguiente consulta para ver un resumen rápido de los ficheros con te

[2018-03-14 07:21] bgarcia-dgtic commented on #101
Hola,
Hem detectat que quan una carpeta del menú horitzontal conté moltes pàgines, no es mostren totes, es a dir, només mostra opcions fins al final del contingut central de la pàgina. Hauria d'haver un scroll com el que apareix a webcaib.
Cas concret: La primera carpeta "Home" té 20 pàgines. Adjunt captures de pantalla.
https://appsproves.caib.es/sacmicroback/index.do?idsite=5985#
Captura1.jpg
![

[2018-03-14 08:16] dmadronal-indra commented on #101
Buenas,
Este problema lo detectamos con las últimas pruebas y ya lo estabamos tratando, a priori la solución que el diseñador propuso y que estabamos aplicando era la de que se vieran todas las opciones aumentando el scroll de la página si era necesario, ya que, al tener submenus, si se aplica un scroll directamente al menu, puede producir problemas de accesibilidad.

Quereis que apliquemos la sol

[2018-03-14 15:20] dmadronal-indra commented on #101
Buenos días,
Hemos incluido la solucion inicial que teniamos ya implementada para que podais validarla.

La opción que comentáis en la incidencia (añadir un scroll en el segundo nivel del menú al estilo webcaib), implica multitud de cambios, por lo que, si queréis, podemos estimar la tarea . A priori requiere modificar la estructura HTML. Actualmente se usan listas anidadas para los diferentes niv

[2018-03-15 08:38] sgelabert-dgtic commented on #101
OK, finalitzau doncs l'opció d'scroll a nivell de pantalla que ja teniu desenvolupada.
De moment, no fa falta que faceu estimació per l'scroll a nivell de menú

[2018-03-19 12:38] bgarcia-dgtic commented on #105
Hola,
Ens hem adonat que els microsites es veuen desconfigurats. Els continguts centrals de d'informació apareixen després del llistat de pàgines. També apareixen uns punts a l'esquerra del llistat de pàgines. Adjunt captura.

![captura 3](https://user-images.githubusercontent.com/26536678/37595741-35eb4bea-2b7a-11e8-85a4-6cd439646c2d.PNG)
![captura 2](https://user-images.githubusercontent.com/265

[2018-03-19 12:44] dmadronal-indra commented on #105
Buenas,
El cambio del menú (puntos a la izquierda )está corregido en el ultimo commit,  hemos compilado el tema para que lo podais subir.

el otro punto lo revisamos, parece que afecta solo a determinados tamaños de pantalla.

[2018-03-19 13:52] dmadronal-indra commented on #105
Buenas, hemos actualizado y probado el tema, ya no se reproducen los errores indicados.

[2018-03-20 08:09] bgarcia-dgtic opened #106 "Problemes amb els enllaços interns"
Bon dia,

Hem detectat que els enllaços a pàgines del mateix microsite no estan funcionant. Fins ahir funcionaven correctament.
Hem importat el microsite a l'entorn de proves i dona el mateix error. ID microsite a proves: 6405
Adjunt error del log a proves:

https://proves.caib.es/sites/permisosivacances/ca/contenido.do?idsite=6405&cont=69119

2018-03-20 09:00:09,306 ERROR [es.caib.gusite.front.ho

[2018-03-20 09:00] #101 closed, assigned to sgelabert-dgtic, dmadronal-indra, slromero-indra, rsanz-indra

[2018-03-20 09:01] #103 closed, assigned to sgelabert-dgtic

[2018-03-20 09:01] #102 closed, assigned to sgelabert-dgtic, dmadronal-indra, slromero-indra, rsanz-indra

[2018-03-20 09:02] #86 closed, assigned to sgelabert-dgtic, slromero-indra, rsanz-indra

[2018-03-20 09:02] #94 closed, assigned to sgelabert-dgtic, slromero-indra, rsanz-indra

[2018-03-20 09:02] #88 closed, assigned to sgelabert-dgtic, slromero-indra, rsanz-indra

[2018-03-20 09:32] dmadronal-indra commented on #106
estamos evaluando posible solución

[2018-03-20 10:56] dmadronal-indra commented on #106
Buenas,
Estamos tratando de localizar el origen del problema, a priori hemos detectado que parece reproducirse solo cuando se accede a la raiz del site (https://proves.caib.es/sites/permisosivacances/) y estos enlaces estan ubicados en la página de inicio configurada en Congiguració general-->pagina d'inici. si se accede al contenido a través de la uri no se reproduce el problema(https://proves.ca

[2018-03-20 12:42] dmadronal-indra commented on #106
Buenas, hemos localizado lo que parece el origen del problema.

El desarrollo para evitar que en las url que tuvieran parámetros se eliminase la ultima / ej:
.../sites/mapatema2017/ca/ **n/2018/?** mcont=1661 -->.../sites/mapatema2017/ca/ **n/2018?** mcont=1661

Un efecto colateral que no se tuvo en cuenta es que al eliminar la última barra, las url relativas dejan de formarse igual, y pasan de te

[2018-03-20 17:03] dmadronal-indra commented on #106
Buenas,
Hemos realizado las modificaciones para añadir nuevamente la barra en la url. Hemos realizado multiples pruebas y parece funcionar correctamente.

[2018-03-21 09:19] dmadronal-indra commented on #106
Buenas,
además hemos actualizado el tema2017 para evitar que el texto de las noticias aparezca en 3 columnas.

[2018-03-21 13:05] sgelabert-dgtic commented on #27
- Hem detectat que el títol dels formularis de contacte surt  tallat a 100 caràcters. Potencialment el camp antic podia tenir fins a 4000 caràcters.
- Endemés els enllaços ja creats per identificador de formulari de contacte han deixat de funcionar (Exemple: https://www.caib.es/sites/participacio/contacte/6598/)
- Pareix que les línies d'un formulari tipus "Títol del formulari de contacte" no es p

[2018-03-21 13:52] bgarcia-dgtic opened #107 "Visiualització llistats de documents"
Hola,

Quan es cree un llistat de documents amb informació adicional a cada element de la llista (Captura1.jpg), aquesta informació no es veu quan el llistat s'insereix mitjançant l'element "Component" (Captura2.jpg i Captura3.jpg).
No obstant si enllaçam una pàgina dirèctament amb el llistat si que es veu correctament (Captura4.jpg i Captura5.jpg)
![captura1](https://user-images.githubusercontent

[2018-03-21 17:37] dmadronal-indra commented on #27
Buenas,
Hemos actualizado la aplicación para que recupere el titulo de la linea en lugar de el nuevo campo, de esta manera no se reproducen los problemas de texto cortado. (puntos 1 y 3)

Respecto al enlace, el error solo se reproduce si en enlace se ha añadido manualmente copiando la antigua url, si se añade a través de la aplicación funciona correctamente.
Estamos trabajando en una posible soluc

[2018-03-22 06:51] #106 closed, assigned to dmadronal-indra, slromero-indra, rsanz-indra

[2018-03-22 08:03] sgelabert-dgtic commented on #27
Em pareix bé com a solució temporal, ho passarem a pre-producció i ho avaluam. D'entrada veig que el camp "Nom del formulari" no ens serveis de gaire...
Em detectat error no controlat en l'alta d'un nou formulari quan no s'indica "Correu destí". S'ha de controlar l'obligatorietat d'aquest camp (quan edites un formulari existent si que ho fa).
Respecte al redireccionament, si ja no es produiran URL

[2018-03-22 09:07] sgelabert-dgtic commented on #27
- Pendent de fer les proves en pre-producció de la solució temporal i després d'haver analitzat les possibles solucions definitives, us pas el que hem acordat:
  - Deixar el camp "Nom del formulari" com identificador a nivell de backoffice i limitat a 100 caràcters
  - Utilitzar el camp "Nom del formulari" como a mètode de generació del camp URI
  - Deixar el camp de línia "Títol del formulairi" c

[2018-03-22 16:36] dmadronal-indra commented on #27
Buenas,
Hemos realizado las siguientes modificaciones:
- Actualizado el script de BBDD para que borre los datos actuales de uris y títulos y los regenere en función de lo acordado. (títulos duplicados, o más largos de 100 caracteres se le añade el código del formulario para poder identificarlos). Las uris se vuelven a regenerar en base a los títulos.  Se puede pasar directamente el script gusite_u

[2018-03-26 09:00] dmadronal-indra commented on #107
Buenas,
Hemos modificado el tema 2017 para permitir que se visualice el texto de los documentos.

[2018-03-27 06:53] bgarcia-dgtic commented on #105
Hola,

Referent al punt 1.2 i 5, veig que encara no estan resolts.
El punt 1.2:  Quan accedeixes al llistat de normatives en català, el títol és "Normativa Tots " y a la dreta posa tots els anys (captura1.jpg. Però si poses l'idioma en castellà, et posa per defecta l'any 2015, quan no hauria de posar res ja que no hi ha normatives (captura2.jpg).
Captura1.jpg
![captura1](https://user-images.github

[2018-03-27 11:31] dmadronal-indra commented on #105
Buenas,
Hemos actualizado el tema para que el estilo de los enlaces de las noticias afecte a cualquier resolución.

Referente al tema del listado de noticias, la corrección anterior conseguimos reproducirla  modificando la fecha de caducidad de la noticia, lo que provocaba que apareciese en el listado de años, y aplicamos una solucion a la misma. Al parecer existe otra casuística relacionada con t

[2018-03-28 06:23] sgelabert-dgtic opened #108 "Eliminar adreça "Govern" del peu de pàgina"
Es sol·licita eliminar l'adreça que apareix en el peu de pàgina " C/ de la Llotja, 3 - 07012 Palma" que surt per defecte quan no estàs en una UA determinada. Adjunt captura de pantalla. ![microsite](https://user-images.githubusercontent.com/17268396/38012315-3e26afa0-3261-11e8-8441-4a8d6985f568.jpg)

[2018-03-28 07:34] dmadronal-indra commented on #108
buenas ,
hemos actualizado el tema para que no aparezca el enlace.

[2018-04-03 07:41] #100 closed, assigned to sgelabert-dgtic, slromero-indra, rsanz-indra

[2018-04-03 07:41] #108 closed, assigned to sgelabert-dgtic, dmadronal-indra, rsanz-indra

[2018-04-03 07:42] #107 closed, assigned to sgelabert-dgtic, dmadronal-indra, slromero-indra, rsanz-indra, bgarcia-dgtic

[2018-04-03 07:43] #105 closed, assigned to sgelabert-dgtic, dmadronal-indra, slromero-indra, rsanz-indra, bgarcia-dgtic

[2018-04-03 07:43] #27 closed, assigned to sgelabert-dgtic, dmadronal-indra, slromero-indra, rsanz-indra

[2018-04-09 07:07] bgarcia-dgtic opened #109 "Visualització llistat tipus Mapa"
Hola,

Ens hem adonat d'un mal funcionament amb els llistats tipus mapa. Quan crees una pàgina a l'arbre de menú i l'enllaces directament amb el llistat mapa, no mostra el mapa correctament.
![captura1](https://user-images.githubusercontent.com/26536678/38483672-18b853b4-3bd4-11e8-9dbf-6bd7e775fef6.JPG)
![captura2](https://user-images.githubusercontent.com/26536678/38483680-210d73e6-3bd4-11e8-8c1b

[2018-04-09 08:08] dmadronal-indra commented on #109
Buenas, hemos detectado que también afecta a la visualización de las ubicaciones concretas, y que parece afectar solo al tema 2017, lo estamos investigando.

[2018-04-09 09:40] dmadronal-indra commented on #109
Buenas hemos actualizado el tema2017 con las modificaciones.

[2018-04-09 10:00] #109 closed, assigned to dmadronal-indra, slromero-indra, rsanz-indra

[2018-04-27 07:26] bgarcia-dgtic opened #110 "No es mostra el mapa web"
Hola,

Quan es crea una pàgina i s'enllaça amb el mapa web, aquest no es mostra, no fa res. Adjunt captures de pantalla.
url microsite: https://proves.caib.es/sacmicroback/index.do?idsite=5985#
![captura1](https://user-images.githubusercontent.com/26536678/39348939-6aebdaba-49f9-11e8-835c-144fd0242f74.JPG)

Quan premeu sobre "Mapa", no fa rés.
![captura2](https://user-images.githubusercontent.com/

[2018-05-03 09:48] bgarcia-dgtic opened #111 "Tickets no prioritaris"
1. Actualitzar la botonera de xarxes socials dels llistat.
   - Quan accedeixes a un element d'un llistat de fitxes, apareix una botonera am les opcions "Me gusta", "G+ Compartir" i "Tuit". Es sol·licita afegir els botons per compartir amb "Email", "Telegram", "WhatsApp" i Instagram". Adjunt captura de pantalla (botonera.jpg)
![botonera](https://user-images.githubusercontent.com/26536678/39569559-

[2018-05-16 11:24] sgelabert-dgtic commented on #110
Ens demanen per l'estat d'aquesta incidència. Heu pogut avançar?

[2018-05-16 11:33] dmadronal-indra commented on #110
Bones,
Encara no hem pogut avançar, li donem prioritat i us informem.

[2018-05-16 15:18] dmadronal-indra commented on #110
Buenas,
Hemos realizado una actualización en los temas que solventa esta problemática.
Para verificarlo es suficiente con actualizar el tema2017.

[2018-05-17 06:35] #110 closed, assigned to dmadronal-indra, slromero-indra, rsanz-indra, bgarcia-dgtic

[2018-05-24 11:30] bgarcia-dgtic opened #112 "Actualització plantilla tema2017"
A petició de la DG de Comunicació, sol·liciten que actualitzem al plantilla del Microsites "tema2017" de manera que s'ajusti al màxim a la plantilla del Govern:

A la web del Govern els elements de capçalera (els de la barra verda: nom de la pàgina, menú de la dreta), els elements del bloc de continguts i els elements del peu de pàgina (copyright - icones de la dreta) estan alineats entre si (just

[2018-06-01 12:00] bgarcia-dgtic opened #113 "Problema amb els apòstrofs en els títols dels components"
Bon dia,
Hem creat un component de tipus "enllaç" i visualització "Botó". Si en el títol del component es posa algun apòstrof, la pàgina on es troba aquest component no es visualitza. No obstant, si la visualització és "Llistat", la pàgina es mostra correctament.
Adjunt captura de pantalla.
![captura](https://user-images.githubusercontent.com/26536678/40839664-d168a708-65a3-11e8-9aaf-119f6ea1fa83.

[2018-06-06 11:28] bgarcia-dgtic opened #114 "Problema títol formulari de contace"
Hola,
Hem detectat un problema amb els títols dels formularis de contacte.
Quan la orientació del menú és horitzontal i a l'arbre de contingut no hi ha cap carpeta de primer nivell (captura1.jpg) visible, el títol dels formularis de contacte no es mostren (captura2.jpg)

Captura1.jpg
![captura1](https://user-images.githubusercontent.com/26536678/41035562-524ba9f0-698d-11e8-83f4-6ad4cfa89ccc.JPG)

[2018-06-08 08:12] #112 closed, assigned to sgelabert-dgtic, dmadronal-indra, slromero-indra, rsanz-indra

[2018-06-08 12:11] dmadronal-indra commented on #113
Buenas,
Hemos actualizado la aplicaión, ¿lo podeis revisar?

[2018-06-11 07:40] dmadronal-indra commented on #114
Buenas hemos modificado el tema 2017. ¿Lo podeis verificar en vuestros entornos?

[2018-06-11 10:26] bgarcia-dgtic commented on #113
Bon dia,
Funciona correctament però ara hem detectat uns altres errors.
1- Si el nom del component porta apòstrof i la visualització és "llistat", la pàgina on es troba el component no es visualitza.
![captura1](https://user-images.githubusercontent.com/26536678/41226478-e2aa0dd8-6d71-11e8-928c-c80ee1ad51f0.JPG)

2- També, quan el nom del component porta apòstrof, no deixa vincular-lo al contingut

[2018-06-12 09:04] dmadronal-indra commented on #113
Buenas,
hemos actualizado la aplicación, ¿lo podeis verificar?

[2018-06-14 10:19] sgelabert-dgtic opened #115 "Efecte estrany muntatge menú horitzontal"
Es decteta un comportament estrany a l'hora de presentar el menú horitzonal de GUISTE. Pareix que primer es presenta en vertical per, a continuació, maquetar-se en horitzontal.
Es sol·licita revisar la presentació per evitar o en tot cas, ocultar aquest efecte.

[2018-06-14 10:22] sgelabert-dgtic commented on #115
S'envia per correu exportació d'un microsite d'exmple a fi de reproduir el problema

[2018-06-15 11:34] dmadronal-indra commented on #115
Buenas,
Hemos añadido unos cambios al tema2017 y a los resources de la aplicación y ya no se muestra el menú vertical. referente al microsite en cuestion, comentar que tienen sobrescritas algunas páginas del tema 2017, por lo que deberán editar la plantilla general/menu para incorporar los cambios.

[2018-06-19 11:22] #115 closed, assigned to sgelabert-dgtic, dmadronal-indra, rsanz-indra

[2018-06-19 11:22] #114 closed, assigned to dmadronal-indra, slromero-indra, rsanz-indra, bgarcia-dgtic

[2018-06-19 11:22] #113 closed, assigned to dmadronal-indra, slromero-indra, rsanz-indra, bgarcia-dgtic

[2018-06-26 12:32] bgarcia-dgtic opened #116 "Problema amb els idiomes dels titols dels components"
Hola,
He creat un llistat de tipus "Enllaç" i he emplenat la part catalana i castellana. A continuació he creat un component d'aquest llistat i també he emplenat els dos idiomes. Quan la visualització del component es "Botó", de cara al públic sempre mostra el títol del component en català (captura1.jpg)
![captura1](https://user-images.githubusercontent.com/26536678/41911471-00ad7c34-794d-11e8-86d

[2018-07-25 11:57] bgarcia-dgtic opened #117 "Canvi url Google Analytics"
Bon dia,
Hem detectat que la url de Google Analytics ha canviat. Quan prems el botó "Analytics" del gestor (captura1.jpg) et redirecciona a una nova pàgina (captura2.jpg).
![captura1](https://user-images.githubusercontent.com/26536678/43199322-db6d581e-9011-11e8-9914-051cd777f243.JPG)
![captura2](https://user-images.githubusercontent.com/26536678/43199325-de70f8e0-9011-11e8-90cd-c48e81a9c1d3.JPG)

[2018-07-27 10:14] sgelabert-dgtic commented on #61
URL pel Servei de Diagnòstic : http://administracionelectronica.gob.es/comunidades/verPestanaMas.htm?idComunidad=21#.W1ru79UzZpg

[2018-07-30 07:39] episano-dgtic opened #118 "Iconografia: Incluir nueva iconografia de archivo (LibreOffice). Tb. se indique dicha iconografia el tipo fichero al incluirlos backoffice o en la página."
Se debería incluir nueva iconografia de archivo (LibreOffice y openoffice) como opción pantalla: Calc, writer, impress. Para la gestión de páginas de contenidos. Adjunto imagen
![iconos_archivo](https://user-images.githubusercontent.com/17451683/43383340-fd68128e-93da-11e8-93b3-cc9a14a96570.gif)

No olvidar tener en cuenta que se pueden introducir estos nuevos tipos de ficheros, en el backoffice t

[2018-07-30 07:46] episano-dgtic opened #119 "Problema incluir un enlace a un icono incluido en una página de contenido."
Si se trata de incluir un enlace a un icono incluido previamente en una página de contenido, no se activa en enlace pese a que se acepte en en multiples ocasiones. Sólo funciona en el caso de tener seleccionado un icono y algo de texto.
![enlace_icono](https://user-images.githubusercontent.com/17451683/43384067-25c445f2-93dd-11e8-9a43-e836bf28ce39.gif)

[2018-08-02 11:05] dmadronal-indra commented on #116
Buenas,
Hemos revisado esta casuistica, y solventado un problema al desplegar la aplicación. Lo podeis validar?

[2018-08-02 11:18] dmadronal-indra commented on #117
lo revisamos

[2018-08-02 11:18] dmadronal-indra commented on #118
Lo revisamos

[2018-08-02 11:18] dmadronal-indra commented on #119
Lo revisamos.

[2018-08-02 12:13] dmadronal-indra commented on #117
buenas, se ha modificado la url.

[2018-08-06 12:07] dmadronal-indra commented on #118
Buenas, hemos actualizado la aplicación, lo podeis validar?

[2018-08-09 11:03] dmadronal-indra commented on #119
Buenas,
Hemos revisado esta casuística, parece que se trata de un bug del tiny mce, hemos revisado si existía un parche para solventarlo con la versión actual, pero no lo localizamos.

Para poder solventarlo es necesario actualizar la versión del Tinymce, hemos realizado varias pruebas, actualizando la versión del tiny a la 4.8.1(la más reciente) en gusite y por lo que parece  ya no se reproduce e

[2018-08-22 11:38] sgelabert-dgtic commented on #119
Ok, em pareix correcte. Passeu a la versió 4.5.9

[2018-08-23 08:02] sgelabert-dgtic commented on #118
Els icones pujat tenen molt poca qualitat i no es veu pràcticament res. S'haurien de canviar.
![image](https://user-images.githubusercontent.com/17268396/44512653-92fdc580-a6bb-11e8-8e2d-8dac9b763ede.png)

[2018-08-29 10:51] episano-dgtic opened #120 "No existe correspondencia archivopub.do?name=Funcions_mapa.js en el entorno sites"
Archivopub.do funciona sin problemas  pasando como parámetros microsite e id del fichero:
https://www.caib.es/sacmicrofront/archivopub.do?ctrl=MCRST145ZI21584&id=21584
https://www.caib.es/sites/carchivopub.do?ctrl=MCRST145ZI21584&id=21584
De hecho en sites funciona en varios caso
https://www.caib.es/sites/ca/archivopub.do?ctrl=MCRST145ZI21584&id=21584
https://www.caib.es/sites/ca/xxxxxx/archivopub

[2018-08-31 12:41] dmadronal-indra commented on #118
Hemos actualizado los iconos indicados, lo podeis validar?

[2018-08-31 12:42] dmadronal-indra commented on #119
Buenas, hemos actualizado la versión del tiny a la 4.5.9, lo podeis validar?

[2018-09-03 11:07] episano-dgtic commented on #118
En general que va bien, sólo un par de puntualizaciónes.

Al visualizar la página aparecen los iconos "baja calidad" pese a que en el backoffice están los "buenos"
![visualizacion_nuevaiconografia](https://user-images.githubusercontent.com/17451683/44983646-2a93cb80-af7a-11e8-8a06-5bcf72180892.gif)
En la visualización de los eventos de la agenda y listados no aparece iconografía nueva.
![agenda_ic

[2018-09-06 09:01] slromero-indra commented on #118
Buenas, hemos subido los siguientes cambios. Actualizado la resolución en el frontal nuevo:

URL: http://caibter.indra.es/sites/indra/ca/iconos/
![imagen](https://user-images.githubusercontent.com/17451407/45145994-396cbf00-b1c2-11e8-9480-6bc94421e883.png)

Hemos actualizado los 2 temas para que reflejen en agenda los archivos de tipo odt, ods y odp (hay que generar de nuevo el zip, y volver a sub

[2018-09-06 13:21] dmadronal-indra commented on #120
Buenas,
por lo que estamos viendo hay una funcionalidad parecida ya implementada, pero requiere que se le pase el idsite, ej:

http://www.caib.es/sites/archivopub.do?name=Funcions_mapa.js&idsite=145,
o
http://www.caib.es/sites/atmosfera/ca/previsio_de_la_qualitat_de_laire-53106/archivopub.do?name=Funcions_mapa.js&idsite=145
Si se añade el parámetro idsite si que retorna el fichero, ¿esto es lo que

[2018-09-07 10:51] episano-dgtic commented on #120
No era exactamente lo que pedíamos.. pero la verdad es que con la opción que me das salgo del paso. Así que cierro la petición.

[2018-09-07 10:51] #120 closed, assigned to episano-dgtic

[2018-09-07 11:53] bgarcia-dgtic opened #121 "Bug accés Microsite versió "Microsite versió 2015" i accés "Restringit""
Bon dia,
Hem detectat un mal funcionament a l'hora d'accedir a un Microsite que té la versió "Microsite versió 2015" i l'accés és "Restringit". Exemple:
 url pública: https://intranet.caib.es/sites/portaldelpersonal/
Backoffice: https://intranet.caib.es/sacmicroback/index.do?idsite=2405
![captura](https://user-images.githubusercontent.com/26536678/45217422-43ff8500-b2a4-11e8-8b3c-4efc22d0a243.JPG)

[2018-09-11 07:33] episano-dgtic opened #122 "Error al incluir enlaces a páginas del microsite en los eventos de la agenda usando el pop-up contenidos"
Si en el evento de la agenda se incluye un enlace a un contenido del microsite, tanto en el campo descripción como en la url, usando el pop-up de navegación da problemas.
![inclusion_enlacepagina](https://user-images.githubusercontent.com/17451683/45345211-ec179580-b5a5-11e8-857a-337df806cd01.gif)

![error_enlace](https://user-images.githubusercontent.com/17451683/45345028-73b0d480-b5a5-11e8-9491-

[2018-09-11 16:40] dmadronal-indra commented on #121
Buenas, nos podeis dar más información?
Hemos realizado varias pruebas y no conseguimos reproducirlo, hemos probado a acceder al microsite y nos ha ido bien, además en el log no se aprecia demasiado. hay algunos errores del login module, pero estos no pertenecen a la la aplicación.
- ¿Os ocurre solo con algunos usuarios?
- ¿A estos usuarios siempre les ocurre lo mismo, o son problemas intermitente

[2018-09-12 06:35] bgarcia-dgtic commented on #121
Hola,
Pareix que només passa amb els usuaris que no tenen cap rol relacionat amb GUSITE. Hem fet vàries proves amb usuaris que no tenen rol de GUSITE i sempre passa el mateix, la primera vegada que entren dona error però quan entren per segona vegada no hi ha cap problema.
Els usuaris que tenen rol de GUSITE poden accedir sense problemes.

[2018-09-12 09:06] episano-dgtic commented on #61
Hemos detectado que hay páginas generadas dinámicamente 'no válidas" en el test de accesibilidad del Observatorio del ministerio de hacienda (adjunto el pdf con la evaluación generado).
[lista_de_paginas_201808211124.pdf](https://github.com/GovernIB/gusite/files/2374347/lista_de_paginas_201808211124.pdf)

 Concretamente se trata de:
1) Listados de galería de fotos  (página 20) http://www.caib.es/s

[2018-09-12 12:36] dmadronal-indra commented on #121
buenas,
Por lo que hemos visto, es debido a que esos usuarios no tienen un rol definido en gusite.
Si cualquier usuario identificado en seycon puede tener acceso a los microistes restringidos, podríamos hacer uso del rol "tothom", de esta manera se resolvería el problema ¿Podemos hacer uso del rol tothom, o disponéis de un rol para indicar que una persona tiene acceso a los microsites restringidos

[2018-09-13 08:56] bgarcia-dgtic commented on #121
Hola,
Hem fet una prova de tornar a posar el microsite com estava abans, es a dir, versió "Microsite intranet" i accés "Restringit". (aquesta configuració el sistema utilitza "/sacmicrofront").
![imatge](https://user-images.githubusercontent.com/26536678/45475053-89580280-b73b-11e8-8b50-0aace9bc003e.png)
Amb aquesta configuració, els usuaris que estan identificats a seycon (tant si tenen algun rol

[2018-09-13 09:24] dmadronal-indra commented on #121
Buenas, es lo que os comentabamos, en esa configuracion se usa el rol "tothom". Entendemos pues que debemos usar este rol para permitir el acceso. actualizamos sites para que permita el acceso con este rol.

[2018-09-13 09:33] bgarcia-dgtic commented on #121
Hola,
Disculpau-me, no havia entès bé. Podeu procedir a utilitzar el rol "tothom" a sites.

[2018-09-13 10:29] dmadronal-indra commented on #121
buenas, hemos actualizado la aplicación, ¿lo podeis validar?

[2018-09-14 13:03] dmadronal-indra commented on #122
Buenas,
Hemos realizaro una actualización, ¿podeis verificarlo?

[2018-09-21 12:46] dmadronal-indra commented on #61
Buenas hemos realizado varias actualizaciones y deberían dejar de aparecer estos indicadores. hay 2 temas a puntualizar:
- En el caso de los enlaces directos desde el menú, no tenemos claro porque aparecen en el informe, parece que los trata como si fuesen un html, cuando son ficheros. no tenemos claro que acciones tomar.
- Referente a la sección 2.3, actualmente la página dispone de un enlace a l

[2018-09-25 14:47] dmadronal-indra commented on #61
Buenas hemos añadido una mejora sobre el tema2017.

[2018-10-01 07:34] #122 closed, assigned to dmadronal-indra, slromero-indra, episano-dgtic, rsanz-indra

[2018-10-01 07:35] #121 closed, assigned to dmadronal-indra, slromero-indra, rsanz-indra, bgarcia-dgtic

[2018-10-01 07:35] #118 closed, assigned to dmadronal-indra, slromero-indra, episano-dgtic, rsanz-indra

[2018-10-01 07:36] #117 closed, assigned to dmadronal-indra, slromero-indra, rsanz-indra, bgarcia-dgtic

[2018-10-19 07:36] episano-dgtic commented on #119
Buenas hemos detectado que al cambiar el tiny han desaparecido 2 opciones del botón del editor avanzado y básico. Concretamente lo relacionado con la creación de listas(numeradas y no numeradas).

[2018-10-25 15:14] dmadronal-indra commented on #119
Lo estamos revisando.

[2018-10-26 08:21] dmadronal-indra commented on #119
Buenas,
Hemos revisado este tema, ¿Lo podéis validar?

[2018-10-30 09:08] episano-dgtic opened #123 "Incluir la política de cookies en los microsites"
Se debe incluir la política de cookies en los microsites con el mismo funcionamiento que web caib. De hecho si desean ir a más información debería remitir a la misma página de debería ir a la informacion(http://www.caib.es/govern/external/cookies.do)

Adicionalmente he incluido esta misma tarea en la sede. Por otro lado comentaros que deseamos que sea la misma cookie para todos los entornos de la

[2018-10-31 14:25] dmadronal-indra commented on #123
Buenas, hemos actualizado la aplicación y el tema 2017 para poder mostrar la política de cookies.
¿Lo podéis validar?

[2018-11-06 13:11] episano-dgtic commented on #119
okey

[2018-11-06 13:13] episano-dgtic commented on #123
Efectivamente si aceptas no te la solicita para web caib. Y al revés si la aceptas en caib no te la pide en microsite. Pero en gusite aparece un mensaje de este tipo, podría no tener referencia de la sesión?
![cookies](https://user-images.githubusercontent.com/17451683/48066500-14022e80-e1ce-11e8-9f9d-a2e6927f73e0.gif)

[2018-11-08 09:39] dmadronal-indra commented on #123
Buenas,
hemos realizado una modificación para solventar el problema.
¿lo podeis validar?

[2018-11-23 07:25] episano-dgtic commented on #123
A mi me sigue pasando.

[2018-12-03 13:08] episano-dgtic commented on #123
ya funciona

[2018-12-05 12:40] bgarcia-dgtic opened #124 "Cambiar el nom del fitxer "gusite.ear" per "sites.ear" a l'hora d'empaquetar"
Hola,
Des de Serveis Web ens indiquen que el fitxer "gusite.ear", que es genera a l'hora d'empaquetar, es digui "sites.ear".
Podeu fer les modificacions perquè a l'hora d'empaquetar el projecte, generi el fitxer "sites.ear" directament?

[2018-12-10 09:22] episano-dgtic commented on #123
Cuando lo he desplegado en producción no me pide acepte las cookies,sin tener ninguna cookie de caib y al ver las que tengo al acceder aparecen varias:
![cookies_gusite](https://user-images.githubusercontent.com/17451683/49722348-d8db9b00-fc64-11e8-8c9c-c84ebedbd258.gif)

Cuando voy a la web caib solicita las cookies y incluye otras..
![cookies_webcaib](https://user-images.githubusercontent.com/17

[2018-12-10 09:39] dmadronal-indra commented on #123
buenas,
- Para mostrar el mensaje webcaib, y con esta modificación en sede y microsites usan el mismo metodo, si el navegador soporta localstorage, hace uso del almacenamiento local en lugar de las cookies, si no lo soporta utiliza las cookies.

- Por lo que estamos viendo, parece que hay algun problema con la página de www.caib.es, ya que se está cargando con http en lugar de https, tal como ocur

[2018-12-13 08:51] episano-dgtic commented on #123
Podéis cambiar el nombre al .js correspondiente para evitar que al no borrar temporales locales salga al usuario la pantalla principal así:
![capturaseu](https://user-images.githubusercontent.com/17451683/49926755-98765a00-febc-11e8-9a3a-1f9c75a120cf.png)

[2018-12-13 12:26] dmadronal-indra commented on #123
Buenas,
Hemos actualizado la sede (Revisión 503) para añadir un parametro en el fichero de propiedades para que podais forzar el refresco sin necesidad de cambios adicionales, unicamente modificando esta propiedad.

La nueva propiedad es "es.caib.seucaib.version.resources".

[2018-12-18 12:14] #119 closed, assigned to dmadronal-indra, slromero-indra, rsanz-indra, bgarcia-dgtic

[2018-12-18 12:14] #123 closed, assigned to dmadronal-indra, slromero-indra, episano-dgtic, rsanz-indra

[2018-12-18 12:14] #124 closed, assigned to dmadronal-indra, slromero-indra, rsanz-indra, bgarcia-dgtic

[2018-12-18 12:15] #61 closed, assigned to dmadronal-indra, episano-dgtic, bgarcia-dgtic

[2019-01-17 10:04] sgelabert-dgtic opened #125 "Migració arxius a FileSystem"
**Problema:**
- Serveis Web ens ha informat que la finestra de temps per realitzar el backup de les còpies diàries de la BBDD de GUSITE és insuficient.
- El problema pensam que resideix en la taula GUS_DOCUS, la qual emmagatzema els binaris dels arxius que es gestionen en un microsite
**Objectiu:**
- Efectuar una migració dels arxius a FileSystem i eliminar la informació emmagatzemada en els camps

[2019-01-24 16:51] dmadronal-indra commented on #125
Buenas,
Estamos analizando este tema, ¿podríais facilitarnos el fichero de configuración jboss-service.xml del entorno de producción?

[2019-01-25 11:32] bgarcia-dgtic commented on #125
Ok, demanam el fitxer.

[2019-01-25 13:14] bgarcia-dgtic commented on #125
Adjunt arxiu.
[gusite-service.zip](https://github.com/GovernIB/gusite/files/2796199/gusite-service.zip)

[2019-02-04 14:48] dmadronal-indra commented on #125
Buenas, hemos estado revisando este tema.
Por lo que hemos visto en la issue 41, los problemas de rendimiento venían de  la no indexación de determinadas tablas, por lo que al añadir los índices a la estructura dejaron de producirse estos problemas.

- **1 Analitzar si ens convé canviar l'organització dels Arxius a FS, per exemple, prescindint de la carpeta "nomic"**
Sobre este punto, existen 3 ti

[2019-02-11 13:10] bgarcia-dgtic commented on #125
Bon dia,

Ahir horabaixa 10/02/2019 a les 17:16:01 n'Estela va llançar l'exportació d'arxius a FileSystem. A les 20:50 aproximadament, va accedir al frontal del Microsite dgtic.caib.es per veure si l'aplicació funcionava però va donar un error de proxy. Va intentar accedir a un parell de Microsites però tots donaven error de proxy.
La cuestió és que el procés de migració dels fitxers seguia funcio

[2019-02-15 11:20] bgarcia-dgtic opened #126 "Augmentar temps de sessió"
Hola,
Pareix que el temps de sessió, tant al backoffice com al frontal, és de 20 minuts.
El podríeu augmentar a 30 minuts?

[2019-02-18 11:46] dmadronal-indra commented on #125
Comentado por teléfono:
Añadiremos un nuevo campo en la tabla de gusdocus para indicar si ha sido exportado a FS. Modificaremos el proceso de exportación para que solo consulte los ya exportados (teniendo en cuenta este campo). Añadiremos un botón para realizar esta verificación por lotes de N elementos, de manera que no se realice todo al mismo tiempo, evitando  que se sobrecargue la aplicación.

[2019-03-06 17:27] dmadronal-indra commented on #125
Buenas,
Hemos modificado la aplicación para que permita procesar los ficheros por tandas. Para probarlo es necesario actualizar la BBDD mediante el script gusite_update_schema_from_1.5_to_1.5.4.sql
Después de actualizar la aplicación, aparecerá la opción de seleccionar el número de elementos a tratar por el proceso de exportación a file system.
También hemos tratado de optimizar el proceso, y debe

[2019-03-19 12:11] #126 closed, assigned to bgarcia-dgtic

[2019-03-19 12:11] #125 closed, assigned to amaciam-indra, dmadronal-indra, rsanz-indra

[2019-03-28 12:56] bgarcia-dgtic opened #127 "Guardar fitxers a FileSystem o BBDD"
Hola,
Actualment, si la propietat de sistema "es.caib.gusite.archivos.almacenarEnFilesystem" és "S", quan es puja un fitxer a un microsite es guarda tant a FileSystem com a BBDD.
El que volem és que sigui excloent, es a dir, si la propietat té el valor "S" que només guardi a FileSystem i si té el valor "N" que només guardi a BBDD.

[2019-05-08 06:49] #127 closed, assigned to dmadronal-indra, slromero-indra, rsanz-indra, bgarcia-dgtic

[2019-06-03 07:56] episano-dgtic opened #128 "Integración gusite con el nuevo sistema de traducción automática (Opentrad)"
Se ha contratado una nueva empresa para la traducción de los contenidos coorporativos. Con lo que se debería integración gusite al nuevo sistema de traducción. Os envio por correo la documentación que nos facilitaron.

El anterior traductor, tenía únicamente el servicio de catalán a castellano. El nuevo permite la dupla castellano->catalán y la traducción de documentación.

De primeras nos urge la

[2019-09-17 09:47] episano-dgtic opened #129 "Visualización de los componentes en castellano aparecen en catalán."
Al acceder en castellano a una página con componentes de listados con toda la información traduccida aparecen los datos en catalán.
![sitibsa_pantallazo](https://user-images.githubusercontent.com/17451683/65030825-83919000-d940-11e9-9e3e-26c736abefa5.gif)

Esta incidencia ya se trató en #62

[2019-10-02 12:54] episano-dgtic commented on #129
Si se configura el listado como ficha, va bien. El problema surge si es de tipo enlace(titulo y elementos), o lista documentos (título)

[2019-12-17 08:48] bgarcia-dgtic opened #130 "En el buscador de los listados aparecen elementos marcados como no visibles."
Por ejemplo, en este listado:
http://www.caib.es/sites/M170613081930629/ca/l/l10-07-_iniciatives_reglementaries_conselleria_de_salut_i_consum/

Hay una opción que está oculta ("Projecte de decret de modificació del Decret 31/2015..."), y por tanto no aparece. Pero cuando buscas por "gasolines":
http://www.caib.es/sites/M170613081930629/ca/l/l10-07-_iniciatives_reglementaries_conselleria_de_salut_i

[2020-02-26 08:36] episano-dgtic opened #131 "las url de previsualización están visibles para internet independientemente visibilidad página y dominio entrada."
La url:
https://intranet.caib.es/sites/atenciociutadania/ca/queixes_i_suggeriments_/?tipo=alfa&previsual=previsual
ó
https://www.caib.es/sites/atenciociutadania/ca/queixes_i_suggeriments_/?tipo=alfa&previsual=previsual
Se puede acceder aunque esté no visible.

[2020-03-26 09:16] episano-dgtic opened #132 "Accediendo en catalán a un elemento de un listado, aparece la etiqueta "Enlaces de interés""
Otro problema, accediendo un elemento de un listado al componente en catalán aparece en castellano la etiqueta "Enlaces de interés"
http://www.caib.es/sites/transparenciaperconselleria/ca/n/llei_42011_de_31_de_mara_de_la_bona_administracia_i_del_bon_govern_de_les_illes_balears_0/

[2020-05-20 10:54] bgarcia-dgtic opened #133 "Accessibilitat, canvis a les plantilles del formulario de contacte i capçalera"
A la plantilla del formulari de contacte falta l'etiqueta label del camp captcha:
`<label for="captcha">
	<input type="text" id="captchaResp"  name="captchaResp" style="margin: auto;" onchange="habilitarEnviar()"/>
</label>`

A la plantilla de capçalera s'ha d'incloure "lang" a l'enllaç canvi d'idioma (a href=)
`<a th:if="${idiomaLower}!=${idiomaLista.key}" href="#" th:href="@{${#gusuri.traduccion

[2020-05-26 07:29] episano-dgtic opened #134 "Impedir l'accés a documents de pàgines "internes / ocultes" caducades o futura publicació."
A dia d'avui, si google indexa els continguts, es pot accedir a arxius de pàgines ocultes. No és desitjable. El control per microsite ocult / restringit ja està implementat.

A la taula gusite.GUS_DOCUS, a la columna DCM_pagina està la pàgina de l'microsite.
A la taula GUS_CONTEN a la columna CON_VISIB veureu si és interna / oculta, i en CON_PUBLIC / CON_CADUCA el rang visibilitat.

[2020-06-02 11:14] episano-dgtic commented on #133
Exemple apareix el text centrat a la descripció del esdeveniment: https://proves.caib.es/sites/jornada/ca/agenda/20200601
Per una qüestió estètica trauria del css la característica ! Important.
div.activitat p {
	text-align: center !important;
}

[2020-06-05 08:00] bgarcia-dgtic opened #135 "Revisió d'accessibilitat contrast mínim"
La barra del títol, el peu de pàgina no compleixen el requisit de contrast mínim d'accessibilitat.
Incidència relacionada amb el ticket #5014 de WEBCAIB.

[2020-06-23 06:56] #135 closed, assigned to bgarcia-dgtic

[2020-06-23 06:56] #133 closed, assigned to bgarcia-dgtic

[2020-06-23 07:07] bgarcia-dgtic opened #136 "Accessibilitat, problemes a l'hora d'aplicar la propietat !important a alguns css"
Hay problemas por aplicar !important en alguna propiedades line-height, letter-spacing o word-sapcing, algunos css. Los detectados (linea, columna):
53 5 http://www.caib.es/sites/resources/css/estils.css

835 17 http://www.caib.es/sites/ft/tema2017/css/estils-tema.css
line-height:1.8em !important

2643 9  http://www.caib.es/sites/ft/tema2017/css/estils-tema.css
line-height:1.5em !important

Luego

[2020-06-29 16:02] dmadronal-indra commented on #132
Buenas hemos actualizado la aplicación y la plantilla 2017, para probarlo es necesario actualizar tanto la aplicación como la plantilla.
lo podeis validar?

[2020-08-14 09:38] dmadronal-indra commented on #129
Buenas hemos actualizado tanto el tema por defecto como para la plantilla 2017.
¿Lo podeis verificar?

[2020-08-17 07:48] dmadronal-indra commented on #130
Buenas,
a priori parece que el contenido se indexó con la opcion visible, y a posteriori se oculto. En estos casos si la opción sigue apareciendo se debería reindixar el microsite. Hemos intentado reproducirlo pero no lo logramos. ¿Podeis indicarnos como reproducirlo?

[2020-08-24 07:12] bgarcia-dgtic commented on #130
He creat a PREproducció, el Microsite "Prova Tomeu" (id=10725).
Hi ha la pàgina "llistat fitxes" amb 4 elements. Tots estan visibles menys el número 3. Quan accedeixes a la pàgina "llistat fitxes" et mostre els elements "fitxa 1, fitxa 2 i fitxa 4". Però si al cercador poses la paraula "fitxa" i li dones a cercar, et mostra els 4 elements i si prems sobre l'element "fitxa 3" et dóna error.
He inde

[2020-08-24 08:49] episano-dgtic commented on #129
Está correcta.

[2020-09-21 09:13] dmadronal-indra commented on #130
Buenas,
hemos revisador este tema en nuestros entornos y parece ir bien. hemos comentado por teléfono una serie de pruebas y una vez finalizadas habría que revisar los logs para verificar que puede estar pasando.

[2020-09-21 11:29] bgarcia-dgtic commented on #130
Hola, a continuació indico les passes que he realitzat.
1. Creo un nou llistat de fitxes amb el nom "llistat fitxes 2".
2. Afegeixo 5 fitxes visibles (primera fitxa, segona fitxa, tercera fitxa, quarta fitxa, cinquena fitxa).
3. Creo la pàgina "llistat fitxes 2" i la relaciona amb el llistat "llistat fitxes 2".
4. Accedeixo a la pàgina i em mostra els cinc elements.
5. Faig una prova per veure si

[2020-10-01 09:49] episano-dgtic commented on #116
Lucia me acaba de comentar que el problema persiste en el caso de componentes configurado de tipo botón. Y lo he revisado en tipo de listado y no me cambia a castellano.

[2020-10-01 09:55] episano-dgtic commented on #116
Perdón l aincidencia hacía referencia título, y el uso del nombre ó título.

[2020-10-01 09:55] #116 closed, assigned to sgelabert-dgtic, dmadronal-indra, slromero-indra, rsanz-indra

[2020-10-02 08:18] episano-dgtic opened #137 "Bug accés a fitxers amb accents altra codificació"
Hem detectat un "Internal Server Error" en l'accés web de fitxers amb accents "estranys ´".
![fichero_acentoraro](https://user-images.githubusercontent.com/17451683/94901780-72f28000-0497-11eb-9443-9ef919dfa1d4.gif)

L'url www.caib.es/sites/archivopub.do?ctrl=MCRST157ZI331934&id=331934 remete a l'url http://www.caib.es/sites/eines/f/331934, i malgrat estar el fitxer no el carrega.

Si l'accent és

[2020-10-20 08:46] episano-dgtic opened #138 "El cercador dels llistats, no torna resultats si la paraula a cercar té accents."
El cercador dels llistats, no torna resultats si la paraula a cercar té accents. EX:
https://www.caib.es/sites/institutestudisautonomics/ca/l/normativa-8165/

Cercant "organització" ó "ORGANITZACIÓ" retorna 0 resultats,
Buscant "organitzacio" retorna els casos sense accents (errors ortogràfics)

L'opció més senzilla és que retorni resultats sense tenir en compte si la paraula té o no accents. És a

[2020-10-23 11:39] dmadronal-indra commented on #130
Buenas, hemos realizado una actualización de la aplicación para resolver este tema. ¿lo podéis validar?

[2020-10-27 09:09] bgarcia-dgtic commented on #130
Pareix que funciona correctament

[2020-12-10 08:48] bgarcia-dgtic opened #139 "Bug error a l'hora de compilar build.xml"
Hola,
He descarregat les darreres actualitzacions i quan intento compilar l'aplicació, em dóna el següent error:

Buildfile: E:\Eclipse\workspace\GUSITE-1.5\build.xml

BUILD FAILED
E:\Eclipse\workspace\GUSITE-1.5\build.xml:6: Execute failed: java.io.IOException: Cannot run program "C:\\Program Files\\Git\\bin\\git": CreateProcess error=2, El sistema no puede encontrar el archivo especificado

[2020-12-10 12:08] bgarcia-dgtic commented on #139
Ja no dóna error

[2020-12-14 08:46] bgarcia-dgtic opened #140 "Bug desplegament ear"
A l'hora de desplegar l'ear al servidor, dóna el següent error:
![imatge](https://user-images.githubusercontent.com/26536678/102059163-cd418280-3df0-11eb-83ee-22b0b5e8f221.png)

Pareix que no troba la llibreria "jersey-bundle-1.19.1.jar"

[2020-12-14 12:46] slromero-indra commented on #140
Incorporado la librería en el fileset

[2020-12-14 13:58] bgarcia-dgtic commented on #140
Ja no dóna error

[2020-12-21 12:52] episano-dgtic opened #141 "Bug de visualització dels elements dels llistats"
Si l'element d'una llista té una data publicació anterior 1970.01.01 no apareix el any com filtre superior.
![frontal_listadoFicha](https://user-images.githubusercontent.com/17451683/102779107-fb483900-4393-11eb-9df8-5bf4854c1a82.gif)

Perquè aparegui el filtre en aquest llistat ha de tenir =>Tipus de paginació "per any"

[2020-12-28 10:27] bgarcia-dgtic opened #142 "Bug revisar funcionament cercador"
Revisar el funcionament del cercador per evitar que no es pugui introduir codi HTML, JS, etc...

[2021-01-25 08:50] dmadronal-indra commented on #136
Buenas hemos realizado algunas actualizaciones lo podéis revisar?

[2021-01-27 09:04] episano-dgtic opened #143 "Problemàtica en el pas a relatiu https://intranet.caib.es/valibback/ a ../valibback/ des de l'editor simplificat html dels microsites (llistats, agenda)"
Problemàtica pel pas per defecte a relatiu https://intranet.caib.es/valibback/ a ../valibback/ des de l'editor simplificat html dels microsites (llistats,agenda) si es va entrar al gestor des https://intranet.caib .es/sacmicroback/.
No passa en l'editor principal de les pàgines, ja que que si l'enllaç s'indica específicament http: // o https: // es permet quedi de forma absoluta.

L'editor simplif

[2021-01-29 13:21] dmadronal-indra commented on #137
Buenas hemos realizado una actualización para solventar este tema. lo podeis revisar? (https://github.com/GovernIB/gusite/commit/69acd2bfbe2dea405fdb96ebee79188d48695a81)

[2021-01-29 13:23] dmadronal-indra commented on #138
Buenas hemos realizado una actualización para solventar este tema. lo podeis revisar?

[2021-02-01 13:05] dmadronal-indra commented on #142
Buenas, Hemos revisado este tema, lo podéis verificar?

[2021-02-03 15:29] slromero-indra commented on #131
Hemos revisado la incidencia y, tras analizarlo, hemos visto que la mejor manera de controlar la url de previsualización desde el frontal sea exigir estar autenticado cuando se pasa el parámetro (es decir, si se detecta que se pasa el parámetro previsual=previsual, se redirigirá para que se autentique previamente).

 En caso de estar ya logueado, este paso será totalmente transparente para el usua

[2021-02-04 09:10] bgarcia-dgtic commented on #142
Bon dia,
Pareix que funciona correctament

[2021-02-04 13:23] #132 closed, assigned to bgarcia-dgtic

[2021-02-04 13:24] #129 closed, assigned to dmadronal-indra, slromero-indra, rsanz-indra

[2021-02-04 13:24] #130 closed, assigned to bgarcia-dgtic

[2021-02-04 13:25] #128 closed, assigned to dmadronal-indra, slromero-indra, rsanz-indra

[2021-02-04 13:26] #139 closed, assigned to bgarcia-dgtic

[2021-02-04 13:26] #140 closed, assigned to bgarcia-dgtic

[2021-02-09 10:46] slromero-indra commented on #134
La pauta que seguiremos para permitir descargar o no el documento, será que al menos haya una página que sea visible que tenga enlace con el documento (como no se puede controlar desde que página viene la descarga, es la única manera de controlar el bajar el fichero o no).

[2021-02-09 10:49] slromero-indra commented on #143
Buenas, perdonad, no somos capaces de entender la problemática, podéis pasarnos más info del problema?

[2021-02-09 13:30] episano-dgtic commented on #134
perfecto, esa es la idea. Qué la página a la que pertenece el fichero esté visible (sin caducar, o oculta aposta)
Ojo, que si el fichero es común (arbol de contenidos->archivos comunes), debería actuar como hasta ahora, si el microsite es visible, debería seguir siendo accesible.

[2021-02-10 10:16] slromero-indra commented on #131
Hemos subido los cambios para forzar el logueado cuando se pasa el parámetro de previsualización. Además, se añaden los parámetros con los que viene desde la url inicial cuando hace la previsualizacion.

[2021-02-12 06:58] episano-dgtic commented on #131
Está correcto.

[2021-02-12 07:16] episano-dgtic commented on #137
He incluido los ficheros que remití para testear en pruebas.
https://proves.caib.es/sites/test/ca/test_codificacion_archivos/

Y se consiguen descargar los ficheros pero los casos con el acento ` se pierde la extensión del fichero. Con lo que puede suponer problemas al ciudadano a desconocer la herramienta con la que puede visualizarlo. Podéis hacer que siga el mismo comportamiento que si tiene ac

[2021-02-12 07:26] episano-dgtic commented on #138
La veo correcta. En la solución implementada distingue si la palabra tiene o no acento dando resultados diferentes, pero devuelve resultados.

[2021-02-12 08:33] episano-dgtic commented on #136
Se han resuelto algunos casos pero sigue dando en el test del observatorio el error:

53 5 http://www.caib.es/sites/resources/css/estils.css

[lista_de_paginas_202102120918.pdf](https://github.com/GovernIB/gusite/files/5970498/lista_de_paginas_202102120918.pdf)

[2021-02-12 10:37] bgarcia-dgtic commented on #143
Hola, adjunto captura de pantalla
![imatge](https://user-images.githubusercontent.com/26536678/107757592-0e3d1100-6d26-11eb-9d55-254c4068bdb8.png)

Quan estàs a l'editor d'un llistat o notícia (Edició de recursos -> Llistats) i crees un enllaç cap el mateix domini, per exemple "https://intranet.caib.es/valibback/" la url que es forma és "../valibback".
A l'editor de les pàgines normals (Arbre de c

[2021-02-17 06:51] #142 closed, assigned to dmadronal-indra, slromero-indra, rsanz-indra

[2021-02-17 06:51] #138 closed, assigned to anadal-fundaciobit, dmadronal-indra, slromero-indra, rsanz-indra

[2021-02-17 06:52] #131 closed, assigned to episano-dgtic, bgarcia-dgtic

[2021-02-19 11:46] dmadronal-indra commented on #143
Buenas hemos revisado este tema, ¿Lo podeis verificar?

[2021-02-19 11:49] dmadronal-indra commented on #134
Buenas, hemos actualizado este tema, ¿lo podeis verificar?

[2021-02-22 09:00] bgarcia-dgtic commented on #143
Funciona correctament

[2021-02-22 09:46] episano-dgtic commented on #134
He verificado que habéis ocultado los contenidos caducados, y ocultos. Aunque no los de futura publicación.
Pero he visto que la previsualización de contenidos ha dejado de funcionar en todos los casos. Lo deseable es que los gestores pueda visualizarlo previamente en cualquier estado para poder publicarlo.
Aunque en el entorno de dev previsualización pilla:
https://dev.caib.es/sacmicrofront/conte

[2021-02-22 09:48] episano-dgtic commented on #141
está correcto.

[2021-02-22 12:45] dmadronal-indra commented on #137
Buenas, hemos revisado este tema, para permitir descargar estos ficheros. ¿Lo podeis verificar?

Por otro lado entendemos que una posible mejora seria que al subir los ficheros se normalizaran los nombres de los ficheros, para evitar que se suban con acentos, y espacios, de esta manera se evitarian posibles problemas de codificación. si os parece acertado se podria crear una incidencia nueva para

[2021-02-25 10:42] bgarcia-dgtic opened #144 "Revisió del rendiment a l'hora de recuperar la plantilla quan es carrega una pàgina"
Hola,
Quan es carrega una pàgina, es realitzen moltes consultes a base de dades per recuperar la plantilla i això fa que el rendiment disminueixi.

[2021-02-25 11:50] slromero-indra commented on #144
Buenas, ya hemos comiteado los cambios. Por favor, cuando podáis lo validáis.

[2021-02-26 11:17] bgarcia-dgtic commented on #144
Hola,
L'optimització funciona correctament.

[2021-03-02 08:37] slromero-indra commented on #136
Buenas, ya están los cambios, cuando podáis lo validáis

[2021-03-02 08:38] slromero-indra commented on #136
Los cambios asociados al tema2017, tenéis que volver a generar el zip y subirlo de nuevo.

[2021-03-02 10:33] slromero-indra commented on #134
Ya están los cambios subidos, podéis validarlo?

[2021-03-05 10:22] bgarcia-dgtic opened #145 "Normarlitzar el nom dels fitxers a l'hora de pujar-los"
Hola,
Sol·licitem que a l'hora de pujar els fitxers és normalitzi el nom. D'aquesta forma evitarem que es pugin fitxers amb accents i espais i s'evitaran problemes de codificació.

[2021-03-05 10:24] bgarcia-dgtic commented on #137
Hola,
He creat la issue #145 per normalitzar el text dels fitxers a l'hora de pujar-los

[2021-03-05 11:47] episano-dgtic commented on #134
No está el problema de la previsualización desde el backoffice.
Pero se continua pudiendo visualizar los documentos de páginas caducadas/futura publicación ó internas.

[2021-03-05 13:52] episano-dgtic commented on #137
No veo ningúin cambio respecto  ` se continua perdiendo la extensión del fichero.

[2021-03-08 13:40] episano-dgtic opened #146 "Problemas visualización componente en microsite transparencia tras revisión rendimiento"
En el paso a pro de esta mañana el microsite de transparencia ha tenido problemas de visualización, tanto actualizando lo el tema de plantilla 2017 como sin actualizarlo.

Antes, con visualización correcta:
![visualizacion_anterior](https://user-images.githubusercontent.com/17451683/110328740-feaaa280-801b-11eb-8f7b-ad69c7793920.gif)
La visualización tras cambio rendimiento:
![visualizacion_masren

[2021-03-11 15:31] slromero-indra commented on #146
Buenas, ya están subidos los cambios, cuando podáis lo validáis.

Además de lo comentado, hemos subido la librería rolsacAPI de la 1.8.0 a la 1.9.0 (ya que debe ir sincronizado con la subida de rolsac, aunque no implica ningún problema, es lo más correcto)

[2021-03-11 17:31] dmadronal-indra commented on #134
Buenas, hemos intentado replicar el error:
_Pero se continua pudiendo visualizar los documentos de páginas caducadas/futura publicación ó internas._
pero no lo logramos, ¿nos podéis facilitar un caso concreto en dev o proves para tratar de reproducirlo?
Debéis tener en cuenta que si se está autenticado y se tiene el uno de los roles de gusite, estos ficheros serán siempre visibles (es como si se e

[2021-03-12 07:05] bgarcia-dgtic opened #147 "Migració a ORACLE 19"
Disposam ja d'una nova BBDD Oracle19 DEV amb un import d'estructura i dades des de des11g6

[2021-03-12 07:22] episano-dgtic commented on #134
Cuando lo probé así lo hice. Tanto con ventana en incognito como abriendo chrome sin autentificar. Ahora no puedo testear lo que comentas, ya que en pruebas tenemos la versión anterior al rendimiento, y en dev la configuración de cambio de bd.
De hecho todas no me funcionó ninguna de las incidencias que comentabais que estaban okey.
Tal vez hubo algún problema con el paso a pre. Si en vuestro ento

[2021-03-22 11:39] slromero-indra commented on #147
Buenas, hemos probado la conexión a la nueva base de datos y no hemos visto ningún problema asociado a la nueva versión (lo único es un bug con la agenda pero es independiente y que os pasaremos por privado).

Para probar, hemos generado un microsite y contenido de distinto tipo y no hemos visto ningún comportamiento extraño.

[2021-03-22 14:50] slromero-indra commented on #134
Buenas, para subir una versión a producción con la versión que mejora el rendimiento y las otras issues que son urgentes, hemos punteado el método para que lo marque siempre como visible y podamos subir a producción. La idea es una vez que subamos versión, podamos volver a seguir con la depuración de la incidencia y resolver el problema del front que comentáis.

¿Podéis validarlo para cerrar una v

[2021-03-24 09:13] episano-dgtic commented on #146
Correcto en pre.

[2021-03-24 09:18] episano-dgtic commented on #137
No veo ningúin cambio respecto ` se continua perdiendo la extensión del fichero.

[2021-03-24 11:04] slromero-indra commented on #147
Buenas, para realizar la prueba hacia Oracle 19, no se actualizó ni el JDBC ni se actualizó el JDK. Nos han comentado que os ha dado problemas actualizando ambos, ¿a que JDBC habéis actualizado? Por eso habéis incrementado la versión de compilación del JDK?

[2021-03-24 11:52] bgarcia-dgtic commented on #147
Hola,
Adjunto versions compatibles de OJDBC i JDK amb Oracle 19c que ens ha passat serveis web.

BD Oracle Versiones JDBC y JDK
------------
19c
ojdbc10.jar con JDK10, JDK11
ojdbc8.jar con JDK8, JDK9 y JDK11

18c
ojdbc8.jar con JDK8, JDK9, JDK10 y JDK11

12c Release 2 (12.2)
ojdbc8.jar con JDK8

12c Release 1 (12.1)
ojdbc7.jar con JDK7 y JDK8
ojdbc6.jar con JDK6

11g Release 2 (11.2)
ojdbc6.jar co

[2021-03-25 10:08] slromero-indra commented on #137
Buenas, no habíamos comiteado los dos cambios. Hemos aplicado un filtro para normalizar el filename del fichero (y así evitar caracteres raros), ¿podéis probar ahora a descargar el fichero y ver si ya se descarga con la extensión?

[2021-03-25 10:36] bgarcia-dgtic commented on #137
Funciona correctament

[2021-03-25 10:54] slromero-indra commented on #147
Buenas, en vuestro entorno os daba un error, podéis pasarnos el log?

[2021-03-25 11:31] bgarcia-dgtic commented on #147
Hola,
Us he enviat per correu els logs amb els errors que em dóna a l'hora de d'empaquetar amb JDK 1.8.152

[2021-03-26 11:58] slromero-indra commented on #147
Se han realizado pruebas de Gusite contra Oracle 19c con los siguientes resultados:
-	Compilación JDK8:
o	Falla al compilar: el código fuente no está preparado y hay problemas con versiones de librerías (no compatible con Spring3, requeriría pasar a Spring4)
o	Consideramos que no se debería compilar en JDK8 ya que el impacto en la aplicación puede ser enorme
-	Compilación JDK7 / Ejecución JDK7  /

[2021-03-30 10:01] episano-dgtic commented on #143
en producción

[2021-03-30 10:01] #143 closed, assigned to dmadronal-indra, slromero-indra, rsanz-indra

[2021-04-01 15:37] slromero-indra commented on #147
Buenas, cuando podáis, nos podéis confirmar por cuál de los caminos continuar?

[2021-04-06 06:01] bgarcia-dgtic commented on #147
Bon dia, en els propers dies us informarem sobre quina opció seguirem.

[2021-04-08 06:46] bgarcia-dgtic commented on #145
Aquesta issue s'ha fet a la issue #137

[2021-04-08 06:46] #145 closed, assigned to bgarcia-dgtic

[2021-04-08 10:41] #146 closed, assigned to episano-dgtic

[2021-04-08 10:41] #144 closed, assigned to bgarcia-dgtic

[2021-04-08 10:41] #141 closed, assigned to dmadronal-indra, slromero-indra, rsanz-indra

[2021-04-08 10:42] #137 closed, assigned to episano-dgtic, bgarcia-dgtic

[2021-04-09 07:02] bgarcia-dgtic commented on #147
Bon dia,

Pareix que de moment seguirem amb la segona opció. Estem a l'espera que serveis web ens informi.

[2021-04-26 16:08] slromero-indra commented on #136
Buenas, podéis verificar si están correctos los cambios?

[2021-04-27 10:36] episano-dgtic opened #148 "Personalitzar el microsite oficina de Planificació i Coordinació d'Inversions Estratègiques"
Les instruccions del DG comunicacions:

[Cambios diseño web OIE.pdf](https://github.com/GovernIB/gusite/files/6383814/Cambios.diseno.web.OIE.pdf)

Nous textes (26/04/21)
[TEXTOS_OIE.zip](https://github.com/GovernIB/gusite/files/6383820/TEXTOS_OIE.zip)

Logos IDI:
[OIE_arxius.zip](https://github.com/GovernIB/gusite/files/6383823/OIE_arxius.zip)
[oie_logo_00e.pdf](https://github.com/GovernIB/gusite/

[2021-04-27 10:44] #148 closed

[2021-05-24 13:08] slromero-indra commented on #147
Bon dia! Como se va a seleccionar la segunda opción, si te parece bien, podemos dar por cerrada la issue.

[2021-05-24 13:13] slromero-indra commented on #134
Buenas, retomamos la issue. Si os parece bien, volvemos a activar la validación de los documentos.
Además, sin importar si es una imagen (png/jpg/etc...) o un documento (pdf/doc) entra por esta comprobación ralentizando gusite al tener que realizar varias consultas ya que no entran por métodos distintos.

Si os parece bien, para evitar problemas de rendimiento, creemos que tendría más lógica que s

[2021-05-28 07:53] bgarcia-dgtic commented on #147
Bon dia, ok d'acord

[2021-05-28 07:53] #147 closed, assigned to bgarcia-dgtic

[2021-06-02 16:32] sgelabert-dgtic opened #149 "Implementació de cache de consultes plugin de ROLSAC"
Es sol·licita analitzar la integració amb ROLSAC pel que fa a la recuperació de les unitats administratives associades als microsites.
Implementar una cache que emmagatzemi les consultes efectuades.

[2021-06-11 06:20] episano-dgtic opened #150 "Millora formularis contacte. Remetre un justificant de recepció a l'usuari omple el formulari."
Actualment únicament rep el correu de la petició el camp "correu destí ".
Per a això s'hauria de crear un tipus de camp formulari "email" que s'empraria per específicament perquè l'usuari definís allà el correu resposta.
Si aquest camp s'ha configurat implica el desig de gestor de generar el correu a l'ciutadà.

[2021-06-15 11:15] slromero-indra commented on #149
Buenas, actualmente gusite tiene una cache mediante ehcache definida para la gran mayoría de servicios.

En cuanto a la información de obtener la información sobre las UAs (información que se pregunta a Rolsac), tiene implentado una cache muy primitiva, de tal manera que tiene unas variables estáticas con la lista de UAs. La lista de UAs se vuelve a calcular si ha pasado un tiempo desde la ultima

[2021-06-17 11:12] rsanz-indra commented on #149
Consideramos que lo suyo sería unificar el funcionamiento como en el resto de aplicaciones (webcaib y seucaib) para poder controlar la gestión de la caché y forzar en un momento dado el refresco.

[2021-06-22 14:26] slromero-indra commented on #149
Hemos incorporado la nueva caché que funciona correctamente pero vamos a proceder a eliminar la caché manual que antes existía. Os avisamos cuando esté todo comiteado.

[2021-07-01 09:57] episano-dgtic commented on #134
okey.. si así evitamos problemas rendimiento y aún tarde más en cargar las páginas me parece bien. Este ticket viene más por la indexación de contenidos de microsite por google y que luego se pueda acceder a pdf que al gestor le parece no están visibles.

[2021-07-01 10:25] slromero-indra commented on #149
Podéis validar la tarea?

[2021-07-05 09:57] slromero-indra commented on #134
Buenas, ya está comiteado el cambio, podéis validarlo?

[2021-07-06 11:44] episano-dgtic commented on #134
He comprobado que efectivamente ahora no se puede acceder a documentos caducados, futura publicación o en páginas internas. Pero la página de error no se puede controlar:
![134_pagina_novisible](https://user-images.githubusercontent.com/17451683/124592362-ab2b5280-de5d-11eb-904d-1fd92bddb861.gif)

Algo como ocurre cuando el fichero no tiene referencia: https://intranet.caib.es/sacmicrofront/archiv

[2021-07-08 08:57] bgarcia-dgtic commented on #149
Funciona correctament

[2021-09-14 08:47] episano-dgtic opened #151 "Usar como asunto del correo de los formularios de contacto, una respuesta personalizada del ciudadano."
Mejora solicitada por Andres Fuster de Aguilar, ya que no quieren todos los correos con el mismo asunto (titulo del formulario)

[2021-09-20 08:59] episano-dgtic opened #152 "Incloure l'última data d'actualització de les pàgines de continguts definides per gestor."
Per fer aquesta tasca serà necessari:
1) Incloure un camp nou data actualització no modificable pel gestor a la edicción / creació pàgina de continguts.
2) Incloure un check perquè l'usuari decideixi si vol que es mostri aquesta dada en el frontal (per defecte desactivat).
3) Modificar el tema del frontal principal perquè aparegui aquesta data discretament proper a el peu, si en el gestor s'ha act

[2021-11-22 20:16] dmadronal-indra commented on #134
Buenas, hemos realizado una actualización para corregir lo indicado, lo podeis revisar?

[2021-11-23 09:05] episano-dgtic commented on #134
Funciona correctamente excepto en los ficheros de la agenda que también los bloquea(pdf, xls..) . Curiosamente en los listados no se presenta el problema.

[2021-12-03 08:46] dmadronal-indra commented on #134
Buenas,
no logramos reproducir el error, os hemos enviado un correo con mas detalle, ¿lo podeis revisar e indicarnos como reproducirlo?

[2021-12-09 10:22] episano-dgtic commented on #134
El problema es el acceso  a los documentos pdf,xls de los eventos de la agenda, tanto para eventos pasados como futuros :
https://dev.caib.es/sites/test_noimportant/ca/agenda/20211122/

Crear un evento, incluir como Documento un pdf o ficheros controlais, y veréis que desde el frontal da error (Error: No s' ha trobat el document sol·licitat)

[2022-03-03 09:42] episano-dgtic commented on #136
Confirmado no existe la problemática en los ficheros estilos sistema.

[2022-03-03 09:43] #136 closed, assigned to bgarcia-dgtic

[2022-03-07 18:12] dmadronal-indra commented on #134
Buenas,
Hemos comiteado una nueva version que solventa el problema.  ¿Podeis revisarlo?

[2022-03-08 08:28] episano-dgtic commented on #134
El tema documentos adjuntos funciona correctamente. Pero he detectado en el entorno de dev fallos en la previsualización desde el backoffice de algunos módulos (encuestas, listados, agenda, faqs, páginas de contenido..) En todos los casos devuelve una página "Not found".
![prev_listados](https://user-images.githubusercontent.com/17451683/157197023-9791e9e3-81e4-45d5-a9fc-274c9da2cd74.gif)
![prev_e

[2022-03-14 09:25] bgarcia-dgtic opened #153 "Fallos en la previsualización desde el backoffice de algunos módulos"
Se ha detectado en el entorno de dev fallos en la previsualización desde el backoffice de algunos módulos (encuestas, listados, agenda, faqs, páginas de contenido..) En todos los casos devuelve una página "Not found".
![imagen](https://user-images.githubusercontent.com/26536678/158142769-03f79b19-1446-4182-b28b-f46866a8e66c.png)
![imagen](https://user-images.githubusercontent.com/26536678/15814280

[2022-03-22 10:03] episano-dgtic opened #154 "Inclusión propiedades Google Analytics 4"
A partir del 1/7/2023 dejará de estar operativa la propiedad Universal Analytics. El nuevo sistema comienza a estar activo al implementarse y no se puede migrar las estadísticas. Con lo que interesa que se configuré gusite también para las nuevas propiedades (Google Analytics 4). Actualmente hay 584 propiedades Universal Analytics Activas. Todos los microsites utilizan la última plantilla del goib

[2022-03-24 15:58] dmadronal-indra commented on #134
Buenas, el ultimo comentario se tratará en la #153.
Podeis cerrar esta?

[2022-03-25 07:01] #134 closed, assigned to dmadronal-indra, slromero-indra, episano-dgtic, rsanz-indra, bgarcia-dgtic

[2022-03-30 11:34] dmadronal-indra commented on #153
Buenas,
comentado por teléfono:
Este tema parece un problema con el contexto sacmicrofront en dev, habría que verificar si está correctamente publicado el contexto en el apache.

Si una vez verificado sigue fallando, lo revisamos de nuevo (en nuestros entornos parece funcionar correctamente)

[2022-03-31 10:06] bgarcia-dgtic commented on #153
Hola,
Efectívament, era un problema del context sacmicrofront en dev.
Hem procedit a publicar aquest context i ja funciona.
Tanco la incidència

[2022-03-31 10:06] #153 closed, assigned to dmadronal-indra, slromero-indra, rsanz-indra

[2022-04-28 17:21] dmadronal-indra commented on #154
Buenas, hemos actualizado la plantilla 2017.

En esta versión se pueden indicar varias claves de analitics separadas por ";".
la primera que se indique es la que debe corresponder con la de Google Analytics 4.

¿podéis validarlo?

[2022-09-16 09:06] #154 closed, assigned to dmadronal-indra, rsanz-indra

[2022-09-16 12:38] episano-dgtic opened #155 "Incloure camp('Descripció imatge') en els elements de llistats perquè sigui la descripció imatge si n'hi hagués als llistats i components."
Al text de l'OAW apareixen alertes accessibilitat en el disseny coorporatiu per defecte de llistats i components perquè no té text alternatiu la imatge principal.

El backoffice no té cap camp per definir-lo, ni tampoc no es pot personalitzar l'html. Suggereixo incloure un camp nou serveixi per a l'alt de la imatge principal. Aquest camp hauria d'emplenar-se obligat si l'element té imatge.